.search__bar {
    width: 100%;
    max-width: 250px; /* Adjusted width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow for depth */
}